.navbar {
  background-color: #343a40 !important;
}
.nav-nowrap {
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
}
.navbar-brand {
  font-weight: bold;
  color: #ffffff !important;
}
.navbar-nav .nav-link {
  font-size: 1rem;
  color: #ffffff !important;
}
.profile-img {
  float: left;
  background: url(../../../assets/dumyp.png) 50% 50% no-repeat; /* 50% 50% centers image in div */
  background-size: auto 80%; /* Interchange this value depending on prefering width vs. height */
  width: 25px;
  height: 25px;
}
